/*

Fancy SA

stylesheet by Anal Volcano
thanks whoever designed the frontpage! i hope you're okay with me co-opting your work for the forums.

*/

body {
	background-color: #262D35 !important;
}

#globalmenu {
	width: 965px !important;
	padding-left: 15px !important;
	padding-left: 15px !important;
	
	text-align: left !important;
	margin-left: auto;
	margin-right: auto;
	
	border-left: 1px solid #000;
	border-right: 1px solid #000;;
}

#container {
	background: white;
	
	width: 950px;
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-bottom: 15px !important;
	
	border: 1px solid #000;
}



#navigation {
	font-size: 12px !important;

	border-top: 0px;
	height: 20px;
}

#nav_purchase {
	display:none;
}

/*

Forums Index

*/

#index {
	margin-top:1em;
}

/* stupid extra logout link */
#index .mainbodytextsmall {
	display:none;
}

table#info {
	display:none;
}

#forums th, #index table#pm th {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	
	margin-top:100px !important;
	font-size:13px !important;
}

#forums td, #index table#pm td {
	padding-top:3px !important;
	padding-bottom:3px !important;
	padding-left:10px !important;
	padding-right:10px !important;	
}

#forums .moderators {
	display:none !important;
}

#forums .forum {
	font-size:13px !important;
}
#forums .subforums {
	font-size:11px !important;
}

#index table#pm td {
	font-size:12px !important;
}

/*

Thread List

*/

/*#mp_bar #mods {
	font-size:12px !important;
}*/

#mods {
	float:none !important;
	text-align:left !important;
	display:none !important;
}

a[href="#top"] {
	display:none !important;
}

#subforums {
	margin-bottom:20px !important;
}

thead {
	display:none;
}

#ad_banner_user {
	margin-top:25px;
}
#ad_banner_user img {
	border: 1px solid #000;
}

#forum td {
	padding-left:10px !important;
	padding-right:10px !important;
	
	vertical-align:middle;
	height: 32px;
}

form#ac_timemachine {
	position:absolute;
	float:left;
	border: 0 !important;
	background: #069 url('http://i.somethingawful.com/core/icon/fsilk/clock.png') no-repeat !important;
	background-position: 3px 2px !important;
}

form#ac_timemachine.active {
	background: #8F0035 url('http://i.somethingawful.com/core/icon/fsilk/clock_red.png') no-repeat !important;
}

.forumbar, .threadbar {
	height:20px !important;
	padding: 3px !important;
}

.forumbar.top {
	margin-bottom: 0 !important;
}

.pages.bottom {
	margin: 0 !important;
}

#forum .views, #forum .lastpost {
	display:none;
}

div.pages {
	font-size:12px !important;
}

.curpage {
	padding-right: 2px !important;
}

/* Header */

#header {
	background-image: url('http://i.somethingawful.com/core/header-bg-bluenoise.png');
	background-repeat: repeat;
	height: 104px;
	background-color: #142C46;
	background-position: 0 14px;
	margin-left: -15px !important;
	margin-right: -15px !important;
	margin-top: -5px !important;
	margin-bottom: 5px !important;
	
	border-bottom: 2px solid #000;
}

/* stupid jumplist  */

form[action="forumdisplay.php"] {
	display:none;
}

/* two nav options dropped for 219.css's nav bar, which is kinda large */

/* private messages unneeded - box on index.php takes care of that */
#navigation li:nth-child(4) {
	display:none;
}

/* posting gloryhole is pretty damn useless now */
#navigation li:nth-child(7) {
	display:none;
}

/* "bookmark this thread" link - now deprecated due to MARK icon */
.subscribe {
	display:none !important;
}


#rateform_js_attach img[src="http://fi.somethingawful.com/style/thread/rate/digg.gif"] {
	display:none;
}

#filter {
	display:none;
}



/* New page nav */

.forumbar_pages, .threadbar_pages {
	float:right !important;
	color: #fff !important;
	margin-top: 2px !important;
}

.pages {
	color: #fff !important;
}

.pages a {
	color: #fff !important;
	border: none !important;
	text-decoration:underline !important;
}

.pages a:hover {
	color:#069 !important;
	background-color:#fff !important;
}

.curpage {
	color:#ccc !important;
}

.threadbar .postbuttons, .forumbar .postbuttons {
	float:left !important;
}
.threadbar .postbuttons img, .forumbar .postbuttons img {
	padding-top:0px !important;
}

.threadrate {
	width: inherit !important;
	margin-left: 40px !important;
	font-size: 12px !important;
}
