#header {
    display: none;
}

#navigation {
    border-bottom:1px #C1C1C1 solid;
    background:#F39;
}
ul#navigation li {
    background-color:#F39;
    border-left:1px #C1C1C1 solid;
    min-width: 114px;
}
ul#navigation li a {
    color:white;
}
#navigation a, #navigation a:visited {
    color: white;
	text-decoration:none;
	font-weight:bold;
    /*font-family: Arial, Verdana, sans-serif;*/
}

#navigation a:hover {
    background-color:#FCF;
    color:#066;
    background-image:none;
}

